.contenedor__estructura{
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas:'sidebar1 main sidebar2';
  gap: var(--separacion2);
  height: 100vh;
}

.sidebar-left{
  grid-area: sidebar1;
}

.sidebar-right{
  grid-area: sidebar2;
}

.sidebar-left__perfil{
  background-color: var(--color-principal);
  height: 100px;
}

.sidebar-left__actividad{
  background-color: var(--color-principal);
  height: 100px;
  margin-top: var(--separacion);
}

.sidebar-right__news{
  background-color: var(--color-principal);
  height: 100px;
}
.sidebar-right__ads{
  background-color: var(--color-principal);
  height: 100px;
  margin-top: var(--separacion);
}