.contenedor__estructura{
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas:'sidebar1 main sidebar2';
  gap: var(--separacion2);
  height: 100vh;
}

.main{
  grid-area: main;
}

.sidebar-left{
  grid-area: sidebar1;
}

.sidebar-right{
  grid-area: sidebar2;
}

.contenedor__estructura-perfil{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 280px;
  grid-template-areas:
      'perfil-main perfil-sidebar'
      'perfil-footer perfil-footer';
  gap: var(--separacion2);
}

.perfil-main{
  display: flex;
  flex-direction: column;
  grid-area: perfil-main;
  gap: var(--separacion2);
}
.perfil-sidebar{
  grid-area: perfil-sidebar;
}
.perfil-footer{
  grid-area: perfil-footer;
  padding: 20px 0 30px;
}




