
/* --------------- SIDEBAR IZQUIERDO ---------------*/

/* PERFIL */

.sidebar-left__perfil{
  background-color: var(--color-principal);
}

.sidebar-left__perfil-fondo{
  width: 100%;
  height: 90px;
  object-fit:cover;
}

.sidebar-left__perfil-foto{
  min-width: 90px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--color-principal);
  margin-top: -50px;
}

.sidebar-left__info{
  padding: 0 25px;
  color: var(--color-fuentes);
  font-size: var(--tamaño-parrafos);
}
.sidebar-left__nombre{
  color: var(--color-fuentes2);
}

.sidebar-left__ocupacion{
  font-weight: 500;
}
.sidebar-left__popularidad{
  list-style: none;
  margin: var(--separacion2) 0;
}
.sidebar-left__popularidad span{
  float: right;
  color: var(--color-secundario);
}
.sidebar-left__popularidad li{
  margin: 5px 0;
}

.sidebar-left__items{
  border-top: 1px solid var(--gris-claro);
  display: flex;
}
.sidebar-left__item{
  text-decoration: none;
  color: var(--color-fuentes);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: var(--separacion2) 0;
}
.sidebar-left__item ~ hr{
  border: none;
  width: 1px;
  background-color: var(--gris-claro);
  margin: 5px 5px;
}
.sidebar-left__icono{
  font-size: var(--tamaño-nombre);
  color: #ea9900;
}
.sidebar-left__icono2{
  color: var(--color-secundario);
}
.sidebar-left__item-text{
  font-size: var(--tamaño-parrafos);
}


/* ACTIVIDAD */


.sidebar-left__actividad{
  background-color: var(--color-principal);
  margin-top: var(--separacion);
  padding: 5px 25px;
}
.sidebar-left__titulo{
  font-size: 14px;
  font-weight: 500;
  color: var(--color-fuentes);
  margin-top: 25px;
}

.sidebar-left__link{
  text-decoration: none;
  color: var(--color-fuentes);
  font-size: var(--tamaño-parrafos);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 5px 0;
  transition: var(--tiempo-transicion);
}
.sidebar-left__link:hover{
  background-color: var(--azul-claro);
}
.sidebar-left__iconlink{  
  color: var(--color-secundario);
  font-weight: 800;
  font-size: 18px;
}
.sidebar-left__descubrir{
  padding: var(--separacion);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--gris-claro);
  margin-left: -25px;
  margin-right: -25px;
  margin-top: 25px;
}
.sidebar-left__descubrir-link{
  text-decoration: none;
  color: var(--color-secundario);
  font-size: var(--tamaño-parrafos);
  display: block;
  text-align: center;
  padding: 4px 20px;
  transition: var(--tiempo-transicion);
}
.sidebar-left__descubrir-link:hover{
  background-color: var(--azul-claro);
}

/* --------------------- SIDEBAR DERECHO -------------------*/


/* NOTICIAS */

.sidebar-right__news{
  background-color: var(--color-principal);
  padding: 25px;
  margin-bottom: var(--separacion);
}
.sidebar-right__titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: var(--color-fuentes2);
}
.sidebar-right__icon{
  color: var(--color-secundario);
  font-size: var(--separacion2);
  font-weight: 600;
}
.sidebar-right__noticia{
  text-decoration: none;
  color: var(--color-fuentes);
  font-weight: 550;
  font-size: var(--tamaño-parrafos);
  display: block;
  margin: 10px 0 -5px;
}
.sidebar-right__info{
  font-size: var(--tamaño-parrafos);
  color: var(--color-fuentes);
}

.sidebar-right__newsmas{
  display: block;
  text-decoration: none;
  font-size: var(--tamaño-parrafos);
  color: var(--color-secundario);
  font-weight: 500;
  margin-top: 25px;
}

/* ADS */

.sidebar__inmovil{
  position: sticky;
  top: 70px;
}

.sidebar__ads{
  background-color: var(--color-principal);
  padding: 25px;
  padding-top: var(--separacion);
  font-size: 12px;
  color: var(--color-fuentes);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--separacion2);
}
.sidebar__adsmore{
  display: flex;
  align-self: end;
  font-size: 11px;
  margin-bottom: var(--separacion);
  cursor: pointer;
}
.sidebar__imagenes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--separacion);
  gap: var(--separacion);
}
.sidebar__img{
  min-width: 65px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.boton-transparente{
  text-decoration: none;
  font-size: var(--tamaño-parrafos);
  color: var(--color-fuentes);
  font-weight: 500;
  display: inline-block;
  padding: 5px var(--separacion);
  border-radius: 20px;
  border: 1px solid var(--color-fuentes);
  width: max-content;
}

.sidebar__adslink{
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  margin-top: var(--separacion);
}

/* LINKS */

.links{  
  text-align: center;
  font-size: var(--tamaño-parrafos2);
}
.link{
  display: inline-block;
  text-decoration: none;
  color: var(--color-fuentes);
  margin: 4px 2px;
}
.copyright{
  display: flex;
  font-size: var(--tamaño-parrafos);
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  color: var(--color-fuentes);
  font-weight: 500;
}
.copyright__logo{
  min-width: var(--tamaño-iconos);
  width: var(--tamaño-iconos);
  height: var(--tamaño-iconos);
}