.sidebar__personas{
    background-color: var(--color-principal);
    padding: 20px;
    padding-bottom: 10px;
    color: var(--color-fuentes);
}

.sidebar__titulo{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: var(--separacion);
}

.persona{
    display: flex;
    gap: var(--separacion);
    margin-bottom: var(--separacion);
}
.persona__foto{
    margin-top: 8px;
}
.persona__nombre{    
    font-weight: 500;
    font-size: var(--tamaño-nombre);
}
.persona__ocupacion{
    font-size: var(--tamaño-parrafos);
    margin-bottom: 10px;
}

.persona__conectar{
    padding: 5px 20px;
}