@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
@import url(header.css);
@import url(contenedor.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cuerpo{
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.contenedor{
  max-width: 1200px;
  width: 100%;
  padding: 0 var(--separacion);
  margin: 0 auto;
}

.nombre{
  font-size: var(--tamaño-nombre);
}

.separacion{
  margin: var(--separacion) 0;
}

.perfil-imagen{
  width: 35px;
  border-radius: 50%;
}